---
title: Recent
---

{% from 'card.njk' import card %}

{% for event in collections.en_item | reverse | head(20) %}

  {{card(
    event.data.title,
    content=event.data.description,
    href=event.url,
    lang="en",
    location=event.data.location,
    date=event.date,
    image=event.data.image
  )}}

{% endfor %}

<h2>Resources</h2>
<ul>
  <li> <a href="/asset/Leaflet_know_your_rights_EN.pdf">Know Your Rights PDF</a> </li>
  <li> <a href="https://bdsmovement.net/">How you can boycott Israel</a> </li>
  <li> <a href="./chants-or-slogans">Chants or Slogans</a> </li>
  <li> <a href="/feed.xml">RSS Feed</a> </li>
</ul>
