---
title: Assets
description: List of PDFs, image and more.
tags: published
---

{% from "preview.njk" import preview %}

<p>
  Shoot us an email at <a href="mailto:crept-hurt-recount@duck.com">crept-hurt-recount@duck.com</a> with
  attachments if you have assets that need hosting here.
</p>

{% for file in "asset" | files %}

  {{ preview(file.file) }}

{% endfor %}
