---
title: Recent
noindex: true
---

{% from 'card.njk' import card %}

<div class="card-grid compact">

{% for item in collections.feed_item | reverse | head(20) %}

  {{card(
    item.data.title,
    podcast=item.data.podcast,
    content=item.data.description | truncate,
    href=item.url,
    lang=item.data.lang,
    lang_dir=item.data.lang_dir,
    location=item.data.location,
    date=item.date,
    image=item.data.image
  )}}

{% endfor %}
</div>
