---
noindex: true
---

<h1>Search</h1>
<form action="/search" method="GET">
  <label class="sr-only" for="query">Query</label>
  <input type="text" placeholder="Query..." id="query" name="q"/>
  <button type="submit">Search</button>
</form>

<h2>Results</h2>
<div id="results" aria-live="polite">
  {% for item in collections.feed_item %}

    <article class="searchable-item">
    <h3>
    <a href="{{item.url}}">{{item.data.title}}</a>
    </h3>
    <p>
    {{item.data.description}}
    </p>

    <p class="display-none">
        {{item.content}}
    </p>

    </article>

  {% endfor %}
</div>

<script>

  (function() {
    const query = document.getElementById('query');
    const params = new URLSearchParams(window.location.search);
    const items = document.getElementsByClassName('searchable-item'); // Corrected method

    query.value = params.get('q') ?? ''

    function containsAllQueryTermsCaseInsensitive(item) {
      const queryTerms = query.value.toLowerCase().split(' ').filter(Boolean); // Split and filter out empty terms
      const itemText = item.textContent.toLowerCase(); // Get item text in lower case

      return queryTerms.every(term => itemText.includes(term)); // Check if all terms are included
    }

    Array.from(items).forEach(item => { // Convert HTMLCollection to array for forEach
      if (containsAllQueryTermsCaseInsensitive(item))
        item.style.display = 'block'; // Show item
      else
        item.style.display = 'none'; // Hide item
    });
  })();

</script>
