{% extends 'layout.njk' %}

{% block menu %}
<ul>
  <li><a {{currentPage("/ar")}}>مؤخرًا</a></li>

  <!--
  <li><a {{currentPage("/ar/post")}}>Posts</a></li>
  <li><a {{currentPage("/ar/speech")}}>Speeches</a></li>
  <li><a {{currentPage("/ar/event")}}>Events</a></li>
  -->
</ul>
<hr>
{% endblock %}

