{% extends 'layout.njk' %}

{% block menu %}
<ul>

  <li>Please help with translations</li>

  <!--
  <li><a {{currentPage("/el/post")}}>Posts</a></li>
  <li><a {{currentPage("/el/speech")}}>Speeches</a></li>
  <li><a {{currentPage("/el/event")}}>Events</a></li>
  -->
</ul>
{% endblock %}


