{% extends 'layout.njk' %}

{% block menu %}
<ul>

  <li><a {{currentPage("/el/")}}>
    Πρόσφατος
  </a></li>

  <!--
  <li><a {{currentPage("/el/speech")}}>Speeches</a></li>
  <li><a {{currentPage("/el/event")}}>Events</a></li>
  -->
</ul>
{% endblock %}


