{% extends 'layout.njk' %}

{% block menu %}
<ul>
  <li><a {{currentPageExact("/en/")}}>Recent</a></li>
  <li><a {{currentPage("/en/post")}}>Posts</a></li>
  <li><a {{currentPage("/en/speech")}}>Speeches</a></li>
  <li><a {{currentPage("/en/event")}}>Events</a></li>
</ul>
{% endblock %}

