
{% macro preview(file, type) %}
<details data-ref="preview">
  <summary>
    <span>{{file}}</span>
  </summary>

  <a href="{{file}}" title="{{file}}">Link<span class="sr-only"> to {{file}}</span></a>
  <span> · </span>
  <a download href="{{file}}" title="{{file}}">Download<span class="sr-only"> {{file}}</span></a>

  <object type="{{type or file | mimeType}}" data-data="{{file}}">
    <p>
      <!-- DUPLICATION -->
      Unable to show preview. Download or visit the link instead.
    </p>
  </object>
  <noscript>
    <object type="{{type or file | mimeType}}" data="{{file}}">
      <p>
        <!-- DUPLICATION -->
        Unable to show preview. Download or visit the link instead.
      </p>
    </object>
  </noscript>
</details>
{% endmacro %}

{% once %}
<style>
  details object {
    width: 100%;
  }

  details {
    background-color: var(--bg-transparent);
  }

  details:hover {
    background-color: var(--bg);
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  summary .actions {
    display: flex;
    gap: 10px;
  }

  object[type="application/pdf"] {
    height: 90vh;
  }
</style>

<script>
  onRef('preview', details => {
    details.addEventListener('click', () => {
      const object = details.querySelector('object[data-data]');

      object.setAttribute('data', object.getAttribute('data-data'));
    }, {once: true});
  })

</script>
{% endonce %}
