---
eleventyExcludeFromCollections: true
title: Posts
nosocials: true
---

{% from 'card.njk' import card %}

<div class="card-grid">
  {% for post in collections.en_post | published %} {{card( post.data.title,
  content=post.data.description, href=post.url, lang="en",
  location=post.data.location, date=post.date, image=post.data.image )}} {%
  endfor %}
</div>
