---
eleventyExcludeFromCollections: true
title: Posts
eleventyNavigation:
  key: Posts
  parent: English
---

{% for chapter in collections.chapter %}


  <article>
    <header>
      <h2>
        <a href="{{ chapter.url }}">{{ chapter.data.title }}</a>
      </h2>
    </header>

    <p class="deck">{{ chapter.data.deck }}</p>

    <footer>
    </footer>
  </article>

{% endfor %}
